<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-cube text-success">
                </i>
            </div>
            <div>[{{env}}] {{name}}</div>

        </div>
        <div class="page-title-actions">
            <button type="button" title="Go Back" class="btn-shadow mr-3 btn btn-info"
                    onclick="window.location='#/machines'">
                <i class="fa fa-arrow-left"></i> To List
            </button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">General</h5>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">{{name}}</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">FQDN</label>
                    <div class="col-sm-10">{{fqdn}}</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">Environment</label>
                    <div class="col-sm-10">{{env}}</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">Group</label>
                    <div class="col-sm-10"><a href="#/machine-groups/{{group}}">{{group}}</a></div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">Operating system type</label>
                    <div class="col-sm-10">{{operating-system-class}}</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">Operating system</label>
                    <div class="col-sm-10">{{operating-system-distribution}} {{operating-system-version}}</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">vCPU</label>
                    <div class="col-sm-10">{{vcpu}}</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">Memory</label>
                    <div class="col-sm-10">{{memory}} GB</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">{{description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Network interfaces</h5>
        
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>VLAN</th>
                            <th>CIDR</th>
                            <th>IP Address</th>
                            <th>Netmask</th>
                            <th>Network</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {{#network-interfaces}}
                        <tr>
                            <td>{{name}}</td>
                            <td><a href="#/vlans/{{ipv4-vlan}}">{{ipv4-vlan}}</a></td>
                            <td>{{ipv4-cidr}}</td>
                            <td>{{ipv4-address}}</td>
                            <td>{{ipv4-netmask}}</td>
                            <td>{{ipv4-network}}</td>
                        </tr>
                        {{/network-interfaces}}
                    </tbody>
                </table>
      
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Data volumes</h5>
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Device</th>
                            <th>Mount point</th>
                            <th>Size [GB]</th>
                            <th>fstype</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#data-volumes}}
                        <tr>
                            <td>{{device}}</td>
                            <td>{{mount}}</td>
                            <td>{{size}}</td>
                            <td>{{fstype}}</td>
                        </tr>
                        {{/data-volumes}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Incoming traffic</h5>
        
                <table class="mytable table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 30px"></th>
                            <th>Scope</th>
                            <th>RFC</th>
                            <th>Protocol</th>
                            <th>Service</th>
                            <th>Description</th>
                            <th>Source</th>
                            <th>Destination</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#incoming-traffic}}
                        <tr>
                            <td><a href="#/firewall-rules/{{id}}" class="btn btn-success"><i class="fa fas fa-arrow-right"></i></a></td>
                            <td>{{scope}}</td>
                            <td>{{rfc}}</td>
                            <td>{{protocol}}</td>
                            <td>{{service}}</td>
                            <td>{{description}}</td>
                            <td>
                                <span title="Source environment">{{source-env}}</span><br/>
                                {{source-application}}<br/>
                                {{source-ipv4}}<br/>
                                {{source-port}}<br/>
                                {{source-description}}
                            </td>
                            <td>
                                {{destination-env}}<br/>
                                {{destination-application}}<br/>
                                {{destination-ipv4}}<br/>
                                {{destination-port}}<br/>
                                {{destination-description}}
                            </td>
                        </tr>
                        {{/incoming-traffic}}
                    </tbody>
                </table>
      
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Outgoing traffic</h5>
        
                <table class="mytable table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 30px"></th>
                            <th>Scope</th>
                            <th>RFC</th>
                            <th>Protocol</th>
                            <th>Service</th>
                            <th>Description</th>
                            <th>Source</th>
                            <th>Destination</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#outgoing-traffic}}
                        <tr>
                            <td><a href="#/firewall-rules/{{id}}" class="btn btn-success"><i class="fa fas fa-arrow-right"></i></a></td>
                            <td>{{scope}}</td>
                            <td>{{rfc}}</td>
                            <td>{{protocol}}</td>
                            <td>{{service}}</td>
                            <td>{{description}}</td>
                            <td>
                                <span title="Source environment">{{source-env}}</span><br/>
                                {{source-application}}<br/>
                                {{source-ipv4}}<br/>
                                {{source-port}}<br/>
                                {{source-description}}
                            </td>
                            <td>
                                {{destination-env}}<br/>
                                {{destination-application}}<br/>
                                {{destination-ipv4}}<br/>
                                {{destination-port}}<br/>
                                {{destination-description}}
                            </td>
                        </tr>
                        {{/outgoing-traffic}}
                    </tbody>
                </table>
      
            </div>
        </div>
    </div>
</div>
<script>
    $('.mytable').DataTable();
</script>