<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-cube text-success">
                </i>
            </div>
            <div>{{name}}</div>

        </div>
        <div class="page-title-actions">
            <button type="button" title="Go Back" class="btn-shadow mr-3 btn btn-info"
                    onclick="window.location='#/machines'">
                <i class="fa fa-arrow-left"></i> To List
            </button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">General</h5>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">{{name}}</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">Template</label>
                    <div class="col-sm-10"><a href="#/machine-templates/{{template}}">{{template}}</a></div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">Operating system</label>
                    <div class="col-sm-10">{{operatingSystem}}</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">vCPU</label>
                    <div class="col-sm-10">{{vcpu}}</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">Memory</label>
                    <div class="col-sm-10">{{memory}} GB</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">{{description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">DNS Names</h5>
        
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#dns-names}}
                        <tr>
                            <td>{{.}}</td>
                        </tr>
                        {{/dns-names}}
                    </tbody>
                </table>
      
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Network interfaces</h5>
        
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>VLAN</th>
                            <th>IP v4</th>
                            <th>Net mask</th>
                            <th>CIDR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#network-interfaces}}
                        <tr>
                            <td>{{name}}</td>
                            <td><a href="#/vlans/{{vlan}}">{{vlan}}</a></td>
                            <td>{{ipv4}}</a></td>
                            <td>{{net-mask}}</td>
                            <td>{{cidr}}</td>
                        </tr>
                        {{/network-interfaces}}
                    </tbody>
                </table>
      
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Data volumes</h5>
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Size [GB]</th>
                            <th>Mount point</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#data-volumes}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{size}}</td>
                            <td>{{mount}}</td>
                            <td>{{description}}</td>
                        </tr>
                        {{/data-volumes}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

