<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-cube text-success">
                </i>
            </div>
            <div>List of machines</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table id="table" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Environment</th>
                            <th>Group</th>
                            <th>vCPU</th>
                            <th>Memory</th>
                            <th>Operating system</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('#table').DataTable({
        data: app.data['machines'],
        columns: [
            {
                data: 'name',
                render: function (data, type, row) {
                    return '<a href="#/machines/' + data + '">' + data + '</a>';
                }
            },
            {
                data: 'env',
                render: function (data, type, row) {
                    return '<a href="#/env/' + data + '">' + data + '</a>';
                }
            },
            {
                data: 'group',
                render: function (data, type, row) {
                    if (data)
                        return '<a href="#/machine-groups/' + data + '">' + data + '</a>';
                    return '';
                }
            },
            {
                data: 'vcpu'
            },
            {
                data: 'memory'
            },
            {
                data: 'null',
                render: function (data, type, row) {
                    return row['operating-system-distribution'] + ' ' + row['operating-system-version'];
                }
            },
            {
                data: 'description'
            }
        ],
        buttons: [
            'colvis',
            'excel',
            'print'
        ]
    });
</script>