<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fa fa-cube text-success">
                </i>
            </div>
            <div>List of machines</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Machines</h5>
                <table class="mb-0 table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Environment</th>
                            <th>Machine template</th>
                            <th>vCPU</th>
                            <th>Memory</th>
                            <th>Operating system</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#items}}
                        <tr>
                            <td><a href="#/machines/{{name}}">{{name}}</a></td>
                            <td><a href="#/env/{{env}}">{{env}}</a></td>
                            <td><a href="#/machine-templates/{{template}}">{{template}}</a></td>
                            <td>{{vcpu}}</td>
                            <td>{{memory}}</td>
                            <td>{{operatingSystem}}</td>
                            <td>{{description}}</td>
                        </tr>
                        {{/items}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>