<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fas fa-shield-alt text-success">
                </i>
            </div>
            <div>List of Firewall rules</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table id="table" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 30px"></th>
                            <th>RFC</th>
                            <th>Description</th>
                            <th>Service</th>
                            <th>Protocol</th>
                            <th>Source</th>
                            <th>Destination</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script>

    var data = app.data['firewall-rules'].slice(0, 100);

    var table = $('#table').DataTable({
        data: data,
        columns: [
            {
                data: 'id',
                render: function (data, type, row) {
                    return '<a href="#/firewall-rules/' + data + '" class="btn btn-success"><i class="fa fas fa-arrow-right"></i></a>'
                }
            },
            { data: 'rfc' },
            { data: 'description' },
            { data: 'service' },
            { data: 'protocol' },
            {
                data: 'null',
                render: function (data, type, row) {

                    return '<span>' + row['source-env'] + '</span></br>'
                        + '<span>' + row['source-application'] + '</span></br>'
                        + '<span>' + row['source-ipv4'] + '</span></br>'
                        + '<span>' + row['source-port'] + '</span></br>'
                        + '<span>' + row['source-description'] + '</span></br>';
                }
            },
            {
                data: 'null',
                render: function (data, type, row) {

                    return '<span>' + row['destination-env'] + '</span></br>'
                        + '<span>' + row['destination-application'] + '</span></br>'
                        + '<span>' + row['destination-ipv4'] + '</span></br>'
                        + '<span>' + row['destination-port'] + '</span></br>'
                        + '<span>' + row['destination-description'] + '</span></br>';
                }
            }
        ],
        buttons: [
            'colvis',
            'excel',
            'print'
        ]
    });

    window.setTimeout(function () {
        for (var i = 100; i < app.data['firewall-rules'].length; i++) {

            table.row.add(app.data['firewall-rules'][i]);
        }

        table.draw();
    }, 0);



    // table.columns().flatten().each(function (colIdx) {
    //     // Create the select list and search operation
    //     var select = $('<select />')
    //         .appendTo(
    //             table.column(colIdx).footer()
    //         )
    //         .on('change', function () {
    //             table
    //                 .column(colIdx)
    //                 .search($(this).val())
    //                 .draw();
    //         });

    //     // Get the search data for the first column and add to the select list
    //     table
    //         .column(colIdx)
    //         .cache('search')
    //         .sort()
    //         .unique()
    //         .each(function (d) {
    //             select.append($('<option value="' + d + '">' + d + '</option>'));
    //         });
    // });
</script>