<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-network text-success">
                </i>
            </div>
            <div>List of Firewall rules</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">

                <table id="firewallrules" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 30px"></th>
                            <th>RFC</th>
                            <th>Description</th>
                            <th>Service</th>
                            <th>Protocol</th>
                            <th>Source</th>
                            <th>Destination</th>
                            <th>Destination</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var i = 0;
    $('#firewallrules').DataTable({
        data: app.data['firewall-rules'],
        columns: [
            { data: 'id' },
            { data: 'rfc' },
            { data: 'description' },
            { data: 'service' },
            { data: 'protocol' },
            {
                data: 'null',
                render: function (data, type, row) {

                    return '<span>fdfds</span></br>';
                }
            },
            {
                data: 'null',
                render: function (data, type, row) {

                    return '<span>fdfds</span></br>';
                }
            }
        ],
        buttons: [
            'colvis',
            'excel',
            'print'
        ]
    });
</script>