<style>
    td.details-control i.hide {
        display: none;
    }

    tr.shown td.details-control i.show {
        display: none;
    }

    tr.shown td.details-control i.hide {
        display: inherit;
    }

    .no-filter input {
        display: none;
    }
</style>

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fas fa-shield-alt text-success">
                </i>
            </div>
            <div>List of Firewall rules</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table id="table" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 25px;"></th>
                            <!-- <th>Source host</th> -->
                            <th>Source IP</th>
                            <th>Source Env</th>
                            <!-- <th>Destination host</th> -->
                            <th>Destination IP</th>
                            <th>Destination Env</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th style="width: 25px; " class="no-filter"></th>
                            <!-- <th>Source host</th> -->
                            <th>Source IP</th>
                            <th>Source Env</th>
                            <!-- <th>Destination host</th> -->
                            <th>Destination IP</th>
                            <th>Destination Env</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $('#table tfoot th').each(function () {
        var title = $(this).text();
        $(this).html('<input type="text" class="form-control form-control-sm" placeholder="Search ' + title + '" />');
    });
    var data = app.data['firewall-rules'].slice(0, 100);

    var table = $('#table').DataTable({
        data: data,
        order: [[1, 'asc']],
        columns: [
            {
                "className": 'details-control',
                "orderable": false,
                "data": null,
                "defaultContent": '',
                render: function (data, type, row) {
                    return '<i class="fas fa-plus show"></i><i class="fas fa-minus hide"></i>'
                }
            },
            // { data: 'source-host' },
            { data: 'source-ipv4' },
            { data: 'source-env' },
            // { data: 'destination-host' },
            { data: 'destination-ipv4' },
            { data: 'destination-env' },
            {
                "data": null,
                "visible": false,
                "render": function(data, type, row) {
                    var result = "";
                    for(var rule in row['rules']) {
                        result += " " + row['rules'][rule]['destination-port'] + " ";
                        result += " " + row['rules'][rule]['destination-description'] + " ";
                        result += " " + row['rules'][rule]['destination-application'] + " ";
                        result += " " + row['rules'][rule]['source-port'] + " ";
                        result += " " + row['rules'][rule]['source-description'] + " ";
                        result += " " + row['rules'][rule]['source-application'] + " ";
                        result += " " + row['rules'][rule]['rfc'] + " ";
                        result += " " + row['rules'][rule]['description'] + " ";
                    }

                    return result;
                }
            }
            // {
            //     data: 'id',
            //     render: function (data, type, row) {
            //         return '<a href="#/firewall-rules/' + data + '" class="btn btn-success"><i class="fa fas fa-arrow-right"></i></a>'
            //     }
            // },
            // { data: 'rfc' },
            // { data: 'description' },
            // { data: 'service' },
            // { data: 'protocol' },
            // {
            //     data: 'null',
            //     render: function (data, type, rule) {

            //         return '<span>' + rule['source-env']             + '</span></br>'
            //              + '<span>' + rule['source-application']           + '</span></br>'
            //              + '<span>' + rule['source-ipv4']            + '</span></br>'
            //              + '<span>' + rule['source-port']              + '</span></br>'
            //              + '<span>' + rule['source-description']     + '</span></br>';
            //     }
            // },
            // {
            //     data: 'null',
            //     render: function (data, type, rule) {

            //         return '<span>' + rule['destination-env']            + '</span></br>'
            //              + '<span>' + rule['destination-application']    + '</span></br>'
            //              + '<span>' + rule['destination-ipv4']           + '</span></br>'
            //              + '<span>' + rule['destination-port']           + '</span></br>'
            //              + '<span>' + rule['destination-description']    + '</span></br>';
            //     }
            // }
        ],
        buttons: [
            'colvis',
            'excel',
            'print'
        ],
        initComplete: function () {
            // Apply the search
            this.api().columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        }
    });

    // Add event listener for opening and closing details
    $('#table tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row(tr);

        if (row.child.isShown()) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child(format(row.data())).show();
            tr.addClass('shown');
        }
    });

    function format(d) {
        // `d` is the original data object for the row
        var result = '<table class="table table-striped">';
        result += "<thead><tr><th></th><th>RFC</th><th>Description</th><th>Protocol</th><th>Service</th><th>Src port</th><th>Src description</th><th>Src Application</th><th>Dest port</th><th>Dest description</th><th>Dest application</th></tr></thead>"
        for (var i = 0; i < d['rules'].length; i++) {
            var rule = d.rules[i];
            result += '<tr>';
            result += '<td>' + '<a href="#/firewall-rules/' + rule['id'] + '" class="btn btn-success"><i class="fa fas fa-arrow-right"></i></a>'+ '</td>';
            result += '<td>' + rule['rfc'] + '</td>';
            result += '<td>' + rule['description'] + '</td>';
            result += '<td>' + rule['protocol'] + '</td>';
            result += '<td>' + rule['service'] + '</td>';
            result += '<td>' + rule['source-port'] + '</td>';
            result += '<td>' + rule['source-description'] + '</td>';
            result += '<td>' + rule['source-application'] + '</td>';
            result += '<td>' + rule['destination-port'] + '</td>';
            result += '<td>' + rule['destination-description'] + '</td>';
            result += '<td>' + rule['destination-application'] + '</td>';

            result += '<tr>';
        }
        result += '</table>'

        return result;
    }

    window.setTimeout(function () {
        for (var i = 100; i < app.data['firewall-rules'].length; i++) {

            table.row.add(app.data['firewall-rules'][i]);
        }

        table.draw();
    }, 0);

    $('#table tfoot tr').appendTo('#table thead');

    // table.columns().flatten().each(function (colIdx) {
    //     // Create the select list and search operation
    //     var select = $('<select />')
    //         .appendTo(
    //             table.column(colIdx).footer()
    //         )
    //         .on('change', function () {
    //             table
    //                 .column(colIdx)
    //                 .search($(this).val())
    //                 .draw();
    //         });

    //     // Get the search data for the first column and add to the select list
    //     table
    //         .column(colIdx)
    //         .cache('search')
    //         .sort()
    //         .unique()
    //         .each(function (d) {
    //             select.append($('<option value="' + d + '">' + d + '</option>'));
    //         });
    // });
</script>