<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="position-relative form-group">
            <label for="exampleEmail" class="form-label">Source env</label>
            <div class="form-value">{{source-env}}</div>
        </div>
        <div class="position-relative form-group">
            <label for="examplePassword" class="form-label">Source host</label>
            <div class="form-value">{{source-host}}</div>
        </div>
        <div class="position-relative form-group">
            <label for="exampleEmail" class="form-label">Source IP</label>
            <div class="form-value">{{source-ipv4}}</div>
        </div>
        <hr/>
        <div class="position-relative form-group">
            <label for="exampleEmail" class="form-label">Destination env</label>
            <div class="form-value">{{destination-env}}</div>
        </div>
        <div class="position-relative form-group">
            <label for="exampleEmail" class="form-label">Destination host:</label>
            <div class="form-value">{{destination-host}}</div>
        </div>
        <div class="position-relative form-group">
            <label for="exampleEmail" class="form-label">Destination IP</label>
            <div class="form-value">{{destination-ipv4}}</div>
        </div>
        <hr/>
        <div class="position-relative form-group">
            <label for="exampleEmail" class="form-label">Destination ports</label>
            <div class="form-value">{{destination-ports}}</div>
        </div>
    </div>
</div>