<style type="text/css">
    #mynetwork {
        height: 600px;
        border: 1px solid lightgray;
    }
</style>

<div class="row">
    <div class="col-lg-9">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="env-source">Src env</label>
                            </div>
                            <select id="env-source" class="form-control">
                                <option value="">Any</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group mb-3">
                            <input id="source-host" type="text" class="form-control" placeholder="Source host">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="env-destination">Dst env</label>
                            </div>
                            <select id="env-destination" class="form-control">
                                <option value="">Any</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-lg-3">
                        <div class="input-group mb-3">
                            <input id='destination-host' type="text" class="form-control"
                                placeholder="Destination host">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="input-group mb-3">
                            <div style="width: 50%; padding-right: 2px;"><button id="search" type="button"
                                    class="btn btn-success btn-block"><i class="fas fa-search"></i></button></div>
                            <div style="width: 50%; padding-left: 2px;"><button id="clear" type="button"
                                    class="btn btn-danger btn-block"><i class="fas fa-times"></i></button></div>


                        </div>

                    </div>
                </div>

                <div class="row">
                </div>
                <div id="mynetwork"></div>

            </div>
        </div>
    </div>
    <div class="col-lg-3" id="details">
        <div class="main-card mb-3 card">
            <div class="card-body">
                Select node or edge.
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var network = null;
    var env = app.data["env"];

    for (var i = 0; i < env.length; i++) {
        $('#env-source').append('<option value="' + env[i].name + '" title="' + env[i].description + '">' + env[i].name + '</option>')
        $('#env-destination').append('<option value="' + env[i].name + '" title="' + env[i].description + '">' + env[i].name + '</option>')
    }

    function filter() {
        var sourceEnv = $("#env-source").val();
        var destinationEnv = $("#env-destination").val();
        var sourceHost = $("#source-host").val();
        var destinationHost = $("#destination-host").val();

        draw(sourceEnv, destinationEnv, sourceHost, destinationHost);
    }

    $("#search").click(filter);
    $("#clear").click(function () {
        $("#env-source").val('');
        $("#env-destination").val('');
        $("#source-host").val('');
        $("#destination-host").val('');
        draw('', '', '', '');
    });

    // Create a data table with nodes.
    var nodes = [];

    // Create a data table with links.
    var edges = [];
    // Called when the Visualization API is loaded.
    function draw(sourceEnv, destinationEnv, sourceHost, destinationHost) {
        if (network) network.destroy();
        var nodeIndexes = [];
        edges = [];
        nodes = [];

        for (var i = 0; i < app.data['firewall-rules'].length; i++) {
            var firewallRule = app.data['firewall-rules'][i];

            if (sourceEnv != "" && sourceEnv != firewallRule['source-env']) continue;
            if (destinationEnv != "" && destinationEnv != firewallRule['destination-env']) continue;
            if (sourceHost != "" && firewallRule['source-host'].indexOf(sourceHost) == -1) continue;
            if (destinationHost != "" && firewallRule['destination-host'].indexOf(destinationHost) == -1) continue;

            var sourceId = firewallRule['source-ipv4'];
            if (nodeIndexes.findIndex(function (item) { return item == sourceId }) == -1) {
                nodeIndexes.push(sourceId);
                var node = { id: sourceId, label: firewallRule['source-host'] ? firewallRule['source-host'] : sourceId, group: firewallRule['source-env'] };
                if (sourceId.indexOf("/") != -1) {
                    node.shape = 'image';
                    node.image = "/assets/images/vlan.png"
                    node.type  = "VLAN";
                } else if (node.label.indexOf("LB:") != -1) {
                    node.shape = 'image';
                    node.image = "/assets/images/lb.png"
                    node.type  = "LB";
                } else {
                    node.shape = 'image';
                    node.image = "/assets/images/server.png"
                    node.type  = "MACHINE"
                }
                nodes.push(node);
            }

            var destinationId = firewallRule['destination-ipv4'];
            if (nodeIndexes.findIndex(function (item) { return item == destinationId }) == -1) {
                nodeIndexes.push(destinationId);
                var node = { id: destinationId, label: firewallRule['destination-host'] ? firewallRule['destination-host'] : destinationId, group: firewallRule['destination-env'] };
                if (destinationId.indexOf("/") != -1) {
                    node.shape = 'image';
                    node.image = "/assets/images/vlan.png"
                } else if (node.label.indexOf("LB:") != -1) {
                    node.shape = 'image';
                    node.image = "/assets/images/lb.png"
                } else {
                    node.shape = 'image';
                    node.image = "/assets/images/server.png"
                }
                nodes.push(node);
            }

            edges.push({ from: sourceId, to: destinationId, length: 300, data: firewallRule });
        }
        edges = new vis.DataSet(edges);
        nodes = new vis.DataSet(nodes);
        // create a network
        var container = document.getElementById('mynetwork');
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {};
        if (nodes.length > 500) {

            options = {

                interaction: {
                    hideEdgesOnDrag: true,
                    tooltipDelay: 200
                },
                physics: {
                    enabled: false
                },
                layout: {
                    randomSeed: 191006,
                    improvedLayout: false,
                }
            };
        }
        else {
            options = {

                edges: {
                    arrows: {
                        to: {
                            enabled: true
                        }
                    },
                    smooth: {
                        enabled: false,
                        type: 'continuous'
                    }
                },
                physics: {
                    solver: 'repulsion',
                    adaptiveTimestep: true,
                    barnesHut: {
                        gravitationalConstant: -8000,
                        springConstant: 0.04,
                        springLength: 95
                    },
                    stabilization: {
                        iterations: 987,
                        enabled: true
                    }
                },
                layout: {
                    randomSeed: 191006,
                    improvedLayout: false
                }
            };
        }

        network = new vis.Network(container, data, options);
        network.on("stabilizationIterationsDone", function () {
            network.setOptions({ physics: false });
        });
        network.on("selectEdge", function (event) {
            if (event.nodes.length != 0) return;
            var edge = edges.get(event.edges[0]);
            app.trigger('diagram-edge-clicked', edge.data);
        });
        network.on("selectNode", function (event) {
            var node = nodes.get(event.nodes[0]);
            app.trigger('diagram-node-clicked', node);
        });

        network.on('deselectEdge', function (event) {
            app.trigger('diagram-diselect', {});
        });
        network.on('deselectNode', function (event) {
            app.trigger('diagram-diselect', {});
            if (event.nodes.length != 0) return;
            var edge = edges.get(event.edges[0]);
            app.trigger('diagram-edge-clicked', edge.data);
        });
    }

    draw("", "", "", "");
</script>