<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="position-relative form-group">
            <label for="exampleEmail" class="form-label">Environment</label>
            <div class="form-value">{{group}}</div>
        </div>
        <div class="position-relative form-group">
            <label for="examplePassword" class="form-label">Host</label>
            <div class="form-value">{{label}}</div>
        </div>
        <div class="position-relative form-group">
            <label for="exampleEmail" class="form-label">IP</label>
            <div class="form-value">{{id}}</div>
        </div>
        <hr/>
    </div>
</div>