<style>
    .no-filter input {
        display: none;
    }
</style>
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fas fa-network-wired text-success">
                </i>
            </div>
            <div>{{name}}</div>

        </div>
        <div class="page-title-actions">
            <button type="button" title="Go Back" class="btn-shadow mr-3 btn btn-info"
                onclick="window.location='#/vlans'">
                <i class="fa fa-arrow-left"></i> To List
            </button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">VLAN</label>
                    <div class="col-sm-10">{{vlan}}</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="examplePassword" class="col-sm-2 col-form-label">Environment</label>
                    <div class="col-sm-10"><a href="#/env/{{env}}">{{env}}</a></div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">{{name}}</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleEmail" class="col-sm-2 col-form-label">Alias</label>
                    <div class="col-sm-10">{{alias}}</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="examplePassword" class="col-sm-2 col-form-label">CIDR</label>
                    <div class="col-sm-10">{{cidr}}</div>
                </div>
                <div class="position-relative row form-group">
                    <label for="exampleSelect" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">{{description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Machines</h5>
                <table id="table" class="machines table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>FQDN</th>
                            <th>Environment</th>
                            <th>Group</th>
                            <th>vCPU</th>
                            <th>Memory</th>
                            <th>Operating system</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>FQDN</th>
                            <th>Environment</th>
                            <th>Group</th>
                            <th>vCPU</th>
                            <th>Memory</th>
                            <th>Operating system</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Incoming traffic</h5>

                <table id="incomingTraffic" class="mytable table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 30px"></th>
                            <th>Scope</th>
                            <th>RFC</th>
                            <th>Protocol</th>
                            <th>Service</th>
                            <th>Description</th>
                            <th>Source</th>
                            <th>Destination</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th style="width: 30px" class="no-filter"></th>
                            <th>Scope</th>
                            <th>RFC</th>
                            <th>Protocol</th>
                            <th>Service</th>
                            <th>Description</th>
                            <th>Source</th>
                            <th>Destination</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Outgoing traffic</h5>

                <table id="outgoingTraffic" class="mytable table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 30px" class="no-filter"></th>
                            <th>Scope</th>
                            <th>RFC</th>
                            <th>Protocol</th>
                            <th>Service</th>
                            <th>Description</th>
                            <th>Source</th>
                            <th>Destination</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th style="width: 30px" class="no-filter"></th>
                            <th>Scope</th>
                            <th>RFC</th>
                            <th>Protocol</th>
                            <th>Service</th>
                            <th>Description</th>
                            <th>Source</th>
                            <th>Destination</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>
<script>
    $('#outgoingTraffic tfoot th').each(function () {
        var title = $(this).text();
        $(this).html('<input type="text" class="form-control form-control-sm" placeholder="Search ' + title + '" />');
    });
    $('#outgoingTraffic').DataTable({
        data: window.app.currentItem['outgoing-traffic'],
        columns: [
            {
                data: 'id',
                render: function (data, type, row) {
                    return '<a href="#/firewall-rules/' + data + '" class="btn btn-success"><i class="fa fas fa-arrow-right"></i></a>'
                }
            },
            { data: 'scope' },
            { data: 'rfc' },
            { data: 'description' },
            { data: 'service' },
            { data: 'protocol' },
            {
                data: 'null',
                render: function (data, type, row) {

                    return '<span>' + row['source-env'] + '</span></br>'
                        + '<span>' + row['source-application'] + '</span></br>'
                        + '<span>' + row['source-ipv4'] + '</span></br>'
                        + '<span>' + row['source-port'] + '</span></br>'
                        + '<span>' + row['source-description'] + '</span></br>';
                }
            },
            {
                data: 'null',
                render: function (data, type, row) {

                    return '<span>' + row['destination-env'] + '</span></br>'
                        + '<span>' + row['destination-application'] + '</span></br>'
                        + '<span>' + row['destination-ipv4'] + '</span></br>'
                        + '<span>' + row['destination-port'] + '</span></br>'
                        + '<span>' + row['destination-description'] + '</span></br>';
                }
            }
        ],
        dom: 'Blfrtip',
        buttons: [
        {
                extend: 'copyHtml5',
                messageTop: null,
                className: "btn-shadow btn btn-info"
            },
            {
                extend: 'excelHtml5',
                messageTop: null,
                className: "btn-shadow btn btn-info"
            },
            {
                extend: 'csvHtml5',
                messageTop: null,
                className: "btn-shadow btn btn-info"
            },
            {
                extend: 'pdfHtml5',
                messageTop: null,
                className: "btn-shadow btn btn-info"
            }
        ],
        order: [[1, 'asc']],
        rowGroup: {
            dataSrc: 'scope'
        },
        initComplete: function () {
            // Apply the search
            this.api().columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        }
    });

    $('#incomingTraffic tfoot th').each(function () {
        var title = $(this).text();
        $(this).html('<input type="text" class="form-control form-control-sm" placeholder="Search ' + title + '" />');
    });
    $('#incomingTraffic').DataTable({
        data: window.app.currentItem['outgoing-traffic'],
        order: [[1, 'asc']],
        rowGroup: {
            dataSrc: 'scope'
        },
        columns: [
            {
                data: 'id',
                render: function (data, type, row) {
                    return '<a href="#/firewall-rules/' + data + '" class="btn btn-success"><i class="fa fas fa-arrow-right"></i></a>'
                }
            },
            { data: 'scope' },
            { data: 'rfc' },
            { data: 'description' },
            { data: 'service' },
            { data: 'protocol' },
            {
                data: 'null',
                render: function (data, type, row) {

                    return '<span>' + row['source-env'] + '</span></br>'
                        + '<span>' + row['source-application'] + '</span></br>'
                        + '<span>' + row['source-ipv4'] + '</span></br>'
                        + '<span>' + row['source-port'] + '</span></br>'
                        + '<span>' + row['source-description'] + '</span></br>';
                }
            },
            {
                data: 'null',
                render: function (data, type, row) {

                    return '<span>' + row['destination-env'] + '</span></br>'
                        + '<span>' + row['destination-application'] + '</span></br>'
                        + '<span>' + row['destination-ipv4'] + '</span></br>'
                        + '<span>' + row['destination-port'] + '</span></br>'
                        + '<span>' + row['destination-description'] + '</span></br>';
                }
            }
        ],
        dom: 'Blfrtip',
        buttons: [
        {
                extend: 'copyHtml5',
                messageTop: null,
                className: "btn-shadow btn btn-info"
            },
            {
                extend: 'excelHtml5',
                messageTop: null,
                className: "btn-shadow btn btn-info"
            },
            {
                extend: 'csvHtml5',
                messageTop: null,
                className: "btn-shadow btn btn-info"
            },
            {
                extend: 'pdfHtml5',
                messageTop: null,
                className: "btn-shadow btn btn-info"
            }
        ],
        initComplete: function () {
            // Apply the search
            this.api().columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        }
    });

    $('.machines tfoot th').each(function () {
        var title = $(this).text();
        $(this).html('<input type="text" class="form-control form-control-sm" placeholder="Search ' + title + '" />');
    });
    $('.machines').DataTable({
        data: window.app.currentItem['machines'],
        columns: [
            {
                data: 'name',
                render: function (data, type, row) {
                    return '<a href="#/machines/' + row['fqdn'] + '">' + data + '</a>';
                }
            },
            {
                data: 'fqdn'
            },
            {
                data: 'env',
                render: function (data, type, row) {
                    return '<a href="#/env/' + data + '">' + data + '</a>';
                }
            },
            {
                data: 'group',
                render: function (data, type, row) {
                    if (data)
                        return '<a href="#/machine-groups/' + data + '">' + data + '</a>';
                    return '';
                }
            },
            {
                data: 'vcpu'
            },
            {
                data: 'memory'
            },
            {
                data: 'null',
                render: function (data, type, row) {
                    return row['operating-system-distribution'] + ' ' + row['operating-system-version'];
                }
            }
        ],
        dom: 'Blfrtip',
        buttons: [
        {
                extend: 'copyHtml5',
                messageTop: null,
                className: "btn-shadow btn btn-info"
            },
            {
                extend: 'excelHtml5',
                messageTop: null,
                className: "btn-shadow btn btn-info"
            },
            {
                extend: 'csvHtml5',
                messageTop: null,
                className: "btn-shadow btn btn-info"
            },
            {
                extend: 'pdfHtml5',
                messageTop: null,
                className: "btn-shadow btn btn-info"
            }
        ],
        initComplete: function () {
            // Apply the search
            this.api().columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        }
    });

    $('#outgoingTraffic tfoot tr').appendTo('#outgoingTraffic thead');

    $('#incomingTraffic tfoot tr').appendTo('#incomingTraffic thead');

    $('.machines tfoot tr').appendTo('.machines thead');
</script>