<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fas fa-network-wired text-success">
                </i>
            </div>
            <div>List of VLANs</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table id="table" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>VLan</th>
                            <th>Name</th>
                            <th>Environment</th>
                            <th>CIDR</th>
                            <th>Macines</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('#table').DataTable({
        data: app.data['vlans'],
        columns: [
            {
                data: 'vlan',
                render: function (data, type, row) {
                    return '<a href="#/vlans/' + data + '">' + data + '</a>';
                }
            },
            {
                data: 'name'
            },
            {
                data: 'env',
                render: function (data, type, row) {
                    return '<a href="#/env/' + data + '">' + data + '</a>';
                }
            },
            {
                data: 'cidr'
            },
            {
                data: 'machines-count'
            },
            {
                data: 'description'
            }
        ],
        buttons: [
            'colvis',
            'excel',
            'print'
        ]
    });
</script>